<h3>会員情報編集</h3>

<%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
<table>
  <tr>
    <th>氏名</th>
    <th>
      <%= f.text_field :last_name, placeholder: "性", size: 25 %>
    </th>
    <th>
      <%= f.text_field :first_name, placeholder: "名", size: 25 %>
    </th>
  </tr>
  <tr>
    <th>フリガナ</th>
    <th>
      <%= f.text_field :kana_last, placeholder: "カナ性", size: 25 %>
    </th>
    <th>
      <%= f.text_field :kana_first, placeholder: "カナ名", size: 25 %>
    </th>
  </tr>
  <tr>
    <th>郵便番号</th>
    <th>
      <%= f.text_field :post_code, placeholder: "郵便番号", size: 25 %>
    </th>
  </tr>
  <tr>
    <th>住所</th>
    <th colspan="3">
      <%= f.text_field :address, placeholder: "住所", size: 68 %>
    </th>
  </tr>
  <tr>
    <th>電話番号</th>
    <th>
      <%= f.text_field :telephone, placeholder: "電話番号", size: 25 %>
    </th>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <th>
      <%= f.text_field :email, placeholder: "メールアドレス", size: 25 %>
    </th>
  </tr>
</table>
  <%= f.submit '編集内容を保存' %>
  <%= link_to "退会する", customers_quit_path %>
<% end %>