<div class= "container">
  <div class= "row justify-content-start">

    <div class= "col-md-2 my-5">
      <%= render "layouts/sidebar", genres: @genres %>
    </div>

    <div class= "col-md-10 my-5">
      <h2>マイページ</h2>
      
      <table class="table table-hover">
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name + " " + @customer.first_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customer.kana_last + " " + @customer.kana_first %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
      
      <%= link_to customers_information_edit_path do %>
        <button type="button" class="btn btn-success">編集する</button>
      <% end %>
      <%= link_to orders_path do %>
        <button type="button" class="btn btn-info">注文履歴</button>
      <% end %>
    </div>

  </div>
</div>
