<div class="container my-5">
  <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
  
  <%= form_with model: @customer, url: admin_customer_path, local:true do |f| %>
  <table>
    <tbody>
      <tr>
        <td>会員ID</td>
        <td><%= @customer.id %></td>
      </tr>
      
      <tr>
        <td><%= f.label :"氏名" %></td>
        <td class="public-registrations-field">
          <%= f.text_field :last_name, size: 25 %>
        </td>
        <td class="public-registrations-field">
          <%= f.text_field :first_name, size: 25 %>
        </td>
      </tr>
      
      <tr>
        <td><%= f.label :"フリガナ" %></td>
        <td class="public-registrations-field">
          <%= f.text_field :kana_last, size: 25 %>
        </td>
        <td class="public-registrations-field">
          <%= f.text_field :kana_first, size: 25 %>
        </td>
      </tr>

      <tr>
        <td><%= f.label :"郵便番号" %></td>
        <td class="public-registrations-field">
          <%= f.text_field :post_code, size: 15 %>
        </td>
      </tr>

      <tr>
        <td><%= f.label :"住所" %></td>
        <td class="public-registrations-field">
          <%= f.text_field :address, size: "30×2" %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :"電話番号(ハイフンなし)" %></td>
        <td class="public-registrations-field">
          <%= f.text_field :telephone, size: 25 %>
        </td>
      </tr>

      <tr>
        <td><%= f.label :"メールアドレス" %></td>
        <td class="public-registrations-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 25 %>
        </td>
      </tr>
      
      <tr>
        <td><%= f.label :"会員ステータス" %></td>
        <td><%= f.radio_button :is_deleted, false, checked: true %><%= f.label :is_deleted, "有効" %></td>
        <td><%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "変更を保存", class: "btn btn-success my-3" %></td>
      </tr>
    </tboby>
  </table>
  <% end %>
</div>