<h2>ジャンル編集</h2>
<%= render 'layouts/errors', obj: @genre %>

<%= form_with model: [:admin, @genre], method: :patch do |f| %>
  <table>
    <tr>
      <td>
        <b><%= f.label :ジャンル名 %></b>
      </td>
      <td>
        <%= f.text_field :genre_name %>
      </td>
      <td>
        <%= f.submit '変更を保存' %>
      </td>
    </tr>
  </table>
<% end %>

<%= link_to "削除する", admin_genre_path(@genre.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>