<h2>ジャンル作成</h2>

<%= form_with model: [:admin, @genre] do |f| %>
<table>
  <tr>
    <p>
      <b><%= f.label :"ジャンル名" %> </b>
      <%= f.text_field :genre_name, :placeholder => "ジャンル名" %>
      <%= f.submit "新規登録" %>
    </p>
  </tr>
</table>

<% if @genre.errors.include?(:genre_name) %>
  <p style="color: red;"><%= @genre.errors.full_messages_for(:genre_name).first %>
<% end %>
  
<% end %>

<h2>ジャンル一覧</h2>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.genre_name %></td>
      <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
      <td><%= link_to "削除する", admin_genre_path(genre.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @genres %>