<%= render 'layouts/sidebar', genres: @genres %>

<%= image_tag @score.get_image(300, 400) %>

<h3><%= @score.score_name %></h3>

<h5><%= @score.score_caption %></h5>

<h3 class= "mt-5">
  ¥ <%= @score.with_tax.to_s(:delimited) %>
  <span class= "tax">(税込)</span>
</h3>

<%= form_with(model: @cart_score, url: cart_scores_path(@cart_score)) do |f| %>
  <%= f.hidden_field :score_id, value: @score.id %>
  <%= f.submit "カートに入れる" %>
<% end %>