<div class= "container">
  <div class= "row justify-content-start">
    
    <div class= "col-md-2 my-5">
      <%= render "layouts/sidebar", genres: @genres %>
    </div>
    
    <div class= "col-md-10 my-5">
      
      <h2>検索結果</h2>
      <span>(全<%= @scores.total_count %>件中 <%= @scores.count %>件）</span>
      
      <table class="table table-hover">
        <thead>
          <tr class="table-active text">
            <th>ID</th>
            <th>曲名</th>
            <th>ジャンル</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <tbody>
          <% @scores.each do |score| %>
            <tr>
              <td><%= score.id %></td>
              <td><%= link_to score.score_name, score_path(score.id) %></td>
              <td><%= score.genre.genre_name %></td>
              <td><%= score.without_tax.to_s(:delimited)%></td>
            </tr>
          <% end %>
        </tbody>
      
      <%= paginate @scores %>
      
    </div>
    
  </div>
</div>