<div class="container my-5">
  <h2>注文情報確認</h2>
  
  <table class= "table text-secondary my-5">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% sum_of_price= 0 %>
      <% @cart_scores.each do |cart_score| %>
      <tr>
        <td>
          
          <%= cart_score.score.score_name %>
        </td>
        <td><%= cart_score.score.with_tax.to_i %></td>
        <td>
          <% subtotal = cart_score.score.with_tax.to_i %>
          <%= subtotal %>
          <% sum_of_price += subtotal %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= form_with model: @order, url: orders_path, local: true do |f| %>
  <table class= "table text-secondary my-5">
    <tbody>
      <tr>
        <th>合計</th>
        <td></td>
        <td>
          <%= sum_of_price %>
          <%= f.hidden_field :total, :value => sum_of_price %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td></td>
        <td>
          <%= @order.payment_method_i18n %>
          <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <%= f.submit "注文を確定する", class: "btn btn-info m-5" %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>