<div class="container my-5">
  <h2>注文履歴一覧</h2>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>注文日</th>
        <th class="col-md-2">注文商品</th>
        <th>支払い金額</th>
        <th>注文詳細</th>
      </tr>
    </thead>
  
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime('%Y年/%m月/%d日') %></td>
          <td>
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.score.score_name %>
              <br>
            <% end %>
          </td>
          <td><%= order.total %>円</td>
          <td>
            <%= link_to "表示する", order_path(order.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders %>
</div>