<h2>カート内楽譜</h2>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% sum_of_price= 0 %>
    <% @cart_scores.each do |cart_score| %>
    <tr>
      <td>
        <%= cart_score.score.score_name %>
      </td>
      <td><%= cart_score.score.with_tax.to_i %></td>
      <td>
        <% subtotal = cart_score.score.with_tax.to_i %>
        <%= subtotal %>
        <% sum_of_price += subtotal %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>注文情報入力</h2>

<%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>

  <%= f.radio_button :payment_method, 'credit_card' %>
  <%= f.label :payment_method, 'クレジットカード' %><br>
  <%= f.radio_button :payment_method, 'transfer' %>
  <%= f.label :payment_method, '銀行振込' %>

  <%= f.submit '確認画面へ進む' %>
<% end %>

