<div class="container my-5">
  
  <h1>ログイン</h1>
  
  <%= form_with model: [:public,@customer], url: customer_session_path, id: 'customer', local: true do |f| %>
    <% if @customer.errors.any? %>
      <%= @customer.errors.count %>件のエラーが発生しました
    <% end %>
    <%= flash[:error] %>
  
    <div class="public-sessions-field mt-5">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% if @customer.errors.include?(:email) %>
        <p style="color: red;"><%= @customer.errors.full_messages_for(:email).first %>
      <% end %>
    </div>
  
    <div class="public-sessions-field mt-3">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
      <% if @customer.errors.include?(:password) %>
        <p style="color: red;"><%= @customer.errors.full_messages_for(:password).first %>
      <% end %>
    </div>
  
  
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-success mt-5" %>
    </div>
  <% end %>
</div>
  
<div class="container my-5">
  <%= render "public/shared/links" %>
</div>