<div class= "container">
  <div class= "row justify-content-start">
    
    <div class= "col-md-2 my-5">
      <%= render "layouts/sidebar", genres: @genres %>
    </div>
    
    <div class= "col-md-10 my-5">

      <h2>
        <% if @genre.present? %>
          <%= @genre.genre_name %>
        <% else %>
          商品一覧
        <% end %>
        <span>(全<%= @scores.total_count %>件中 <%= @scores.count %>件）</span>
      </h2>
      
      <%= link_to new_admin_score_path do %>
        <button type="button" class="btn btn-secondary my-2">＋</button>
      <% end %>
      
      <table class="table table-hover">
        <thead>
          <tr class="table-active text">
            <th>ID</th>
            <th>曲名</th>
            <th>ジャンル</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <tbody>
          <% @scores.each do |score| %>
            <tr class="light-text">
              <td><%= score.id %></td>
              <td><%= link_to score.score_name, admin_score_path(score.id) %></td>
              <td><%= score.genre.genre_name %></td>
              <td><%= score.without_tax.to_s(:delimited)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @scores %>

    </div>
    
  </div>
</div>