<div class="container my-5">

  <h2>楽譜新規登録</h2>

  <%= form_with model: [:admin, @score] do |f| %>
    <% if @score.errors.any? %>
      <%= @score.errors.count %>件のエラーが発生しました
    <% end %>

    <table>
      <tr>
        <th><%= f.label :score_image, "画像" %></th>
        <td>
          <%= f.file_field :score_image, accept: "image/*" %>
          <% if @score.errors.include?(:score_image) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:score_image).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :score_name, "楽譜名" %></th>
        <td>
          <%= f.text_field :score_name, :placeholder => "楽譜名", size: 50 %>
          <% if @score.errors.include?(:score_name) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:score_name).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :artist_name, "アーティスト名" %></th>
        <td>
          <%= f.text_field :artist_name, :placeholder => "アーティスト名", size: 50 %>
          <% if @score.errors.include?(:artist_name) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:artist_name).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :composer, "作曲者名" %></th>
        <td>
          <%= f.text_field :composer, :placeholder => "作曲者名", size: 50 %>
          <% if @score.errors.include?(:composer) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:composer).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :arranger, "編曲者名" %></th>
        <td>
          <%= f.text_field :arranger, :placeholder => "編曲者名", size: 50 %>
          <% if @score.errors.include?(:arranger) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:arranger).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :grade, "難易度" %></th>
        <td>
          <%= f.text_field :grade, :placeholder => "難易度" %>
          <% if @score.errors.include?(:grade) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:grade).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :score_caption, "楽譜説明" %></th>
        <td>
          <%= f.text_area :score_caption, :placeholder => "ここに説明文を記述します", size: "50x5" %>
          <% if @score.errors.include?(:score_caption) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:score_caption).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :genre_id, "ジャンル" %></th>
        <td>
          <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, {include_blank: "~選択してください~"} %>
          <% if @score.errors.include?(:genre_id) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:genre_id).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :score, "ファイル" %></th>
        <td>
          <%= f.file_field :score %>
          <% if @score.errors.include?(:score) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:score).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :file_format, "ファイル形式" %></th>
        <td>
          <%= f.text_field :file_format, :placeholder => "↑(楽譜名).PDF" %>
          <% if @score.errors.include?(:file_format) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:file_format).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :page, "ページ数" %></th>
        <td>
          <%= f.text_field :page, :placeholder => "ページ数" %>
          <% if @score.errors.include?(:page) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:page).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :without_tax, "税抜価格" %></th>
        <td>
          <%= f.text_field :without_tax, :placeholder => "300" %>円
          <% if @score.errors.include?(:without_tax) %>
            <p style="color: red;"><%= @score.errors.full_messages_for(:without_tax).first %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :youtube_url, "サンプル動画" %></th>
        <td><%= f.text_field :youtube_url, :placeholder => "https://www/youtube.com/", size: 50 %></td>
      </tr>
      <tr>
        <th></th>
        <td>
          <%= f.submit "新規登録", class: "btn btn-success my-3" %>
        </td>
      </tr>
    </table>
  <% end %>

</div>