<h4>楽譜情報詳細</h4>
<table>
  <tbody>
    <tr>
      <td>商品名</td>
      <td><%= @score.score_name %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= @score.score_caption %></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= @score.genre.genre_name %></td>
    </tr>
    <tr>
      <td>税込み価格（税抜価格）</htdd>
      <td><%= @score.with_tax.to_s(:delimited) %>(<%= @score.without_tax.to_s(:delimited) %>) 円</span></td>
    </tr>
    <tr>
      <td>販売状況</td>
      <td>
        <% if @score.sale_status == true %>
          販売中
        <% else %>
          販売中止中
        <% end %>
      </td>
    </tr>
  </tbody>
</table>