<header class="border-bottom">
  <nav class="navbar navbar-expand-lg navbar-dark">
    
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', :size => '280x28' %>
    <% end %>
    
    <div class="search_form ml-5">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, :placeholder => "楽譜を検索", size: 40 %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
    </div>
    
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
      <ul class="navbar-nav ml-auto navbar-inline">
      
      <% if admin_signed_in? %>
        <li>
          <%= link_to admin_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-music"></i>
              楽譜一覧
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to admin_customers_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-users"></i>
              会員一覧
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to admin_orders_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-file"></i>
              注文一覧
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to admin_genres_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-paperclip"></i>
              ジャンル一覧
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            <div class="header-content mr-4">
              <i class="fas fa-sign-out-alt"></i>
              ログアウト
            </div>
          <% end %>
        </li>
      
      <% elsif customer_signed_in? %>
      
        <li>
          <%= link_to customers_my_page_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-user"></i>
              マイページ
            </div>
          <% end %>
        <li>
          <%= link_to favorites_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-heart"></i>
              欲しいものリスト
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to cart_scores_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-shopping-cart"></i>
              カート
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_customer_session_path, method: :delete do %>
            <div class="header-content">
              <i class="fas fa-sign-out-alt"></i>
              ログアウト
            </div>
          <% end %>
        </li>
      
      <% else %>
      
        <li>
          <%= link_to new_customer_registration_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-user-plus"></i>
              新規登録
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_session_path do %>
            <div class="header-content mr-4">
              <i class="fas fa-sign-in-alt"></i>
              ログイン
            </div>
          <% end %>
        </li>
      <% end %>
      </ul>
      
    </div>
  </nav>
</header>